.nav {
	width: 100%;
	background: #2b3891;
}

.margin-navbar {
	margin-bottom: 40px;
}

.navbar .nav > li > a, .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
	color: #FFF;
	background: #2b3891;
	text-shadow: none;
}			

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #2b3891;
	background: #FFF;
}

.miniature img {
	height: 80px;
}
.miniature {
	width: 80px;
	margin: 0px 2px 10px;
	border: solid 2px #CCC;
}

.description-parcours {
	padding: 10px;
	background: #FFF;
	margin-bottom: 40px;
}

.description-parcours .photos:after {
	clear: both;
}

.description-espece {
	padding: 10px;
}

#obs-photos {
	width: 94%;
	height: 100%;
	margin: auto;
}

.modal-body {
	padding-top: 0px;
	padding-bottom: 0px;
}
.modal {
	top: 0%;
	width: 320px;
	overflow-x: scroll;
	margin-left: -160px;
}

.blanc {
	background: #FFF;
}

.bleu {
	background: #CCC;
}

input[type="radio"].criterium  {
	width: 60px;
	height: 50px;
	opacity: 0.5;
	z-index:1000;
	position: relative;
	top: 55px;
}
.selection-critere {
	opacity: 0.5;
}

#criteres-liste {
	padding-left: 20px;
}

#resultats-recherche {
	top: 10px;
	position: relative;
	z-index:1000;
	/*
	background: #F00;
	color: #FFF;
	font-weight: bold;
	padding: 0px 2px;
	*/
}

.infos {
	font-style: italic;
}

.fine {
	margin: 10px 0px;
}

.fine-ultra {
	margin: 2px 0px;
}

.div-critere {
	margin: -20px 2px 0px;
	width: 60px;
}

.div-critere img {
	z-index: -1000;
}

label {
	font-size: 16px;
}

/* correction barre noire photoswipe */
div.ps-uilayer {
	background: transparent;
	cursor: pointer;
}