<h4><%= titre %></h4>
<% _.each(valeurs, function (critere, i) { 
		var check_text = '',
			arr_critere = critere.split(';');
		if (checked[i] == true) {
			check_text = ' checked="true"';
		}
	%>
	<div class="pull-left div-critere">
		<input type="radio" name="<%= titre %>" id="<%= arr_critere[0] %>" value="<%= critere %>" class="criterium" <%= check_text %> > 
		<% if (arr_critere.length > 2) { %>
			<img src="css/images/<%= arr_critere[2] %>" id="img_<%= arr_critere[0] %>" />
		<% } %>
		<%= arr_critere[1] %> 
	</div>
<% }); %>
<div class="clearfix"></div>
