<div class="header">
	<h1><i><%= nom %></i></h1>
	<a href="#" class="header-button header-button-icon header-button-right search" id="view-home-refresh">
		<button>Accueil</button>
	</a>
</div>

<div class="text-center">
	<a href="#liste/<%= id %>/<%= nom %>/<%= ce_critere %>" class="btn btn-primary">Afficher les résultats</a>
	<button class="btn btn-warning criteres-reset">Réinitialiser la clef</button>
</div>

<div id="criteres-liste" class="margin-navbar"></div>

<div class="navbar navbar-fixed-bottom">
	<% var classe = (total != null) ? '' : 'hide'; %>
	<small id="resultats-recherche" class="pull-right badge badge-important <%= classe %>"> <%= total %> </small>
	<ul class="nav parc-nav row-fluid">
		<li class="span5"><a href="#liste/<%= id %>/<%= nom %>/<%= ce_critere %>" class="criteres-reset">Retour liste</a></li>
		<li class="active span3"><a href="#clef/<%= id %>/<%= nom %>/<%= ce_critere %>"><i class="icon-search"></i></a></li>
		<li class="span4">
			<a href="#liste/<%= id %>/<%= nom %>/<%= ce_critere %>">
				Résultats
			</a>
		</li>
	</ul>
</div>