<div class="header">
	<a href="#" class="header-button header-button-left header-back-button">
		<button>Retour</button>
	</a>
	<h1><i><%= nom %></i></h1>
</div>

<div class="text-center">
	<a href="#liste/<%= id %>/<%= nom %>/<%= ce_critere %>" class="btn btn-primary">Afficher les résultats</a>
	<button id="criteres-reset" class="btn btn-warning">Réinitialiser la clef</button>
</div>

<div id="criteres-liste" class="margin-navbar"></div>

<div class="navbar navbar-fixed-bottom">
	<ul class="nav parc-nav">
		<li><a href="#" class="header-back-button">Liste</a></li>
		<li class="active"><a href="#clef/<%= id %>/<%= nom %>/<%= ce_critere %>">Clef</a></li>
		<li>
			<a href="#liste/<%= id %>/<%= nom %>/<%= ce_critere %>">
				<small id="resultats-recherche" class="pull-right badge badge-important"> <%= total %> </small>
				Résultats...
			</a>
		</li>
	</ul>
</div>