<div class="header">
    <a href="#" class="header-button header-button-left header-back-button">
        <button>Retour</button>
    </a>
    
	<h4 class="text-center"><%= nom_vernaculaire %></h4>
</div>

<div class="scroll striped" style="top:44px;">
    <div class="tableview tableview-links">
        <header>
			<div class="text-center">
				<i><%= nom_sci %></i> <br/>
				Famille des <b><%= famille %></b>
			</div>
        </header>

		<div class="text-center wrapper row-fluid">
			<div id="galerie_images" class="gallery">
				<% _.each(photos, function (photo, i) { %>
					<a href="img/<%= photo %>" rel="external">
						<img src="img/<%= photo %>" width="100"/>
					</a>
				<% }); %>
			</div>
		</div>
		
		<div id="btn-vue-espece" class="text-center">
			<% if (ce_critere != 0) { %>
				<span class="btn btn-primary vue-espece">Je l'ai vue !</span>
			<% } else { %>
				<a href="#obs/<%= num_nom %>/<%= nom_sci %>" class="btn btn-primary">Sauvegarder l'observation</a>
			<% } %>
		</div>
		
		<div class="description-espece">
			<%= description %>
		</div>
    </div>
</div>


<script>
var psi = $('#galerie_images a').photoSwipe({ 
	enableMouseWheel: false, 
	enableKeyboard: false,
	preventSlideshow: true
});
</script>
