<div class="header">
	<a href="#" class="header-button header-button-left header-back-button">
		<button>Retour</button>
	</a>
</div>

<div class="scroll" style="top:44px;">
	<div class="tableview tableview-links" >
		<header>
			<div class="text-center">
				<h3><%= nom_vernaculaire %></h3>
				<i><%= nom_sci %></i> <br/>
				Famille des <b><%= famille %></b>
			</div>
		</header>

		<div class="text-center wrapper row-fluid">
			<div id="galerie_images" class="gallery">
				<% _.each(photos, function (photo, i) { %>
					<a href="img/<%= photo %>" rel="external">
						<img src="img/<%= photo %>" width="100"/>
					</a>
				<% }); %>
			</div>
		</div>
		
		<div id="btn-vue-espece" class="text-center">
			<% if (ce_critere != 0) { %>
				<span class="btn btn-large btn-primary vue-espece">Je l'ai vue !</span>
			<% } else { %>
				<a href="#obs/<%= num_nom %>/<%= nom_sci %>" class="btn btn-large btn-primary">Sauvegarder l'observation</a>
			<% } %>
		</div>
		
		<div class="description-espece">
			<%= description %>
		</div>
	</div>
</div>


<script>
var psi = $('#galerie_images a').photoSwipe({ 
	enableMouseWheel: false, 
	enableKeyboard: false,
	preventSlideshow: true
});
</script>
