<div class="header">
	<a href="#" class="header-button header-button-left header-back-button">
		<button>Retour</button>
	</a>
	<h1><i><%= nom_parcours %></i></h1>
</div>

<div class="scroll striped">
	<ul class="tableview tableview-links"></ul>
</div>

<div class="modal-footer">
	<div class="navbar navbar-fixed-bottom">
		<ul class="nav parc-nav row-fluid">
			<li class="span4"><a href="#<%= lien_parcours %>">Parcours</a></li>
			<li class="active span3"><a href="#liste/<%= id_parcours %>/<%= nom_parcours %>/<%= id_critere %>">Liste</a></li>
			<li class="span2"><a href="#clef/<%= id_parcours %>/<%= nom_parcours %>/<%= id_critere %>"><i class="icon-search icon-white"></i></a></li>
			<li class="span2"><a href="#transmission"><i class="icon-user icon-white"></i></a></li>
		</ul>
	</div>
</div>
