<div class="header">
	<a href="#" class="header-button header-button-left header-back-button">
		<button>Retour</button>
	</a>
	<h1>Observation n°<%= obs.id_obs %></h1>
</div>

<div class="tableview tableview-links" style="top:44px;">
	<div class="row-fluid margin-navbar">
		<%= obs.nom_vernaculaire %> <i>(<%= obs.nom_sci %>)</i>
		<br />
		Vue le <%= obs.date %> 
		<% if (obs.commune != "") { %>
			à <%= obs.commune %>
		<% } %>
		
		<hr class="fine"/>
		<div class="row-fluid" id="obs-photos-info"></div>
		<button class="ajouter-photos btn-block btn btn-info btn-large" id="prendre-photos">
			Prendre une photo
		</button>
		<button class="ajouter-photos btn-block btn btn-inverse" id="chercher-photos">
			Depuis la librairie...
		</button>
		<div class="text-center"> Nombre de photos : <span id="nbre-photos"><%= photos.length %></span>.</div>
		
		<hr class="fine"/>
		<div id="obs-photos">
		<% _.each(photos, function(photo) { %>
			<div class="pull-left miniature" id="elt_<%= photo.id_photo %>">
				<img src='<%= photo.chemin %>' alt="<%= photo.id_photo %>" />
				<a href="#observation/<%= obs.id_obs %>" id="<%= photo.id_photo %>" class="suppression-element supprimer-photos"><span></span></a>
			</div>
		<% }); %>
		</div>
		<div class="clearfix"></div>
	</div>
</div>


<div class="navbar navbar-fixed-bottom">
	<ul class="nav parc-nav">
		<li class="active"><a href="#transmission">Mes obs.</a></li>
		<li><a href="#compte">Mon compte</a></li>
		<li><a href="#liste/0/Parcours libre/0" >Liste...</a></li>
	</ul>
</div>
