<div class="header">
	<a href="#" class="header-button header-button-left header-back-button">
		<button>Retour</button>
	</a>
	<h1>Saisie</h1>
</div>


<div class="tableview tableview-links row-fluid">
	<label for="nom">Espèce :
		<span id="nom" name="nom"><%= nom_sci %></span>
	</label>
	
	<label for="date">Date :
		<span id="date" name="date"><%= date %></span>
	</label>
	
	<hr class="fine"/>
	<div class="text-center">
		<button id="geolocaliser" class="btn btn-info" >
			Recalculer ma position
			<i class="icon-search"></i>
		</button>
	</div>
	
	<div id="geo-infos" class="text-center text-info infos">
		Calcul en cours...
	</div>
	<div id="obs-attente-icone" class="text-center"> 
		<img src="css/images/ajax-loader.gif" /> 
	</div>
	<label for="lat">
		Latitude :
		<span id="lat"></span>
	</label>
	
	<label for="lng">
		Longitude :
		<span id="lng"></span>
	</label>
	
	<label for="location">
		Commune : Montpellier
		<span id="location"></span>
		<input id="code_insee" type="hidden" name="code_insee" value="34172" />
	</label>
	
	<hr class="fine"/>
	<div id="obs-photos-info" class="text-center"></div>
	<div class="text-center">
		<button class="ajouter-photos btn-large btn btn-inverse" id="prendre-photos"
				data-another-text="Prendre une autre photo...">
			<i class="icon-picture icon-white"></i>
			<br />
			Ajouter une photo...
		</button>
		<br />
		 Nombre de photos : <span id="nbre-photos">0</span> / <%= LIMITE_NBRE_PHOTOS %>.
	</div>
	<div id="obs-photos"></div>
	<div class="clearfix"></div>
	
	<hr class="fine"/>
	<a href="#sauvegarde-obs-modal" role="button" id="sauver-obs" class="hide btn btn-success btn-block btn-large  margin-navbar" 
		data-toggle="modal" >
		<i class="icon-ok"></i>
		Enregistrer l'observation
	</a>
	
	<input id="num_nom_select" type="hidden" name="num_nom_select" value="<%= id %>" />
</div>


<div class="navbar navbar-fixed-bottom">
	<ul class="nav parc-nav row-fluid">
		<li class="span4"><a href="#transmission">Mes obs.</a></li>
		<li class="span4"><a href="#compte"><i class="icon-off icon-white"></i></a></li>
		<li class="span4"><a href="#liste/0/Balade/0" >Liste</a></li>
	</ul>
</div>
