<div class="header" style="height:70px">
	<a href="#" class="header-button header-button-left header-back-button">
		<button>Retour</button>
	</a>
	
	<h1>Mes observations</h1>
	<div id="compte-infos">
		<%  var disabled = 'disabled';
		if (user != null) { 
			disabled = ''; %>
			<%= user %>
		<% } %>
	</div>
	<button class="btn btn-warning btn-block <%= disabled %>">Transmettre au CEL</button>
</div>

<div id="obs-suppression-infos" class="text-center alert alert-success alert-block hide"></div>

<div class="row-fluid">
	<ul class="tableview tableview-links margin-navbar">
		<% if (taille == 0) { %>
			Aucune observation enregistrée.
		<% } else { 
			_.each(obs, function(observation) {
				var attributs = observation.attributes;
		%>
			<li style="margin:0px;" id="li_<%= attributs.id_obs %>">
				<a href="#transmission" id="<%= attributs.id_obs %>" class="suppression-element suppression-obs"><span></span></a>
				
				<a href='#observation/<%= attributs.id_obs %>'>
					<%= attributs.nom_vernaculaire %> <i>(<%= attributs.nom_sci %>)</i> 
					<br />
					Vue le <%= attributs.date %> 
					<% if (attributs.commune != '') { %>
						à <%= attributs.commune %>
					<% } %>
				</a>
				
				<a href="#observation/<%= attributs.id_obs %>" class="detail-disclosure"><span></span></a>
			</li>
		<%	}, this);
		} %>
	</ul>
</div>


<div class="navbar navbar-fixed-bottom">
	<ul class="nav parc-nav">
		<li class="active"><a href="#transmission">Mes obs.</a></li>
		<li><a href="#compte">Mon compte</a></li>
		<li><a href="#liste/0/Parcours libre/0" >Liste...</a></li>
	</ul>
</div>
