<div class="header">
	<a href="#" class="header-button header-button-left header-back-button">
		<button>Retour</button>
	</a>
	<a href="#" class="header-button header-button-icon header-button-right" >
		<button>Accueil</button>
	</a>
</div>

<div class="row-fluid">
	<h4 class="text-center"><i><%= nom %></i></h4>
	
	<div class="description-parcours">
		<div class="wrapper row-fluid">
			<ul id="galerie_images" class="gallery">
				<li class="span8 carte">
					<a href="img/<%= fichier_carte %>" rel="external">
						<img src="img/<%= fichier_carte %>" />
					</a>
				</li>
				<li class="span4">
					<% _.each(photos, function (photo, i) { %>
						<a href="img/<%= photo %>" rel="external">
							<img src="img/<%= photo %>" width="100"/>
						</a>
						Légende
					<% }); %>
				</li>
			</ul>
		</div>
		<hr class="fine"/>
		<div class="text-center">	
			<a href="#liste/<%= id %>/<%= nom %>/<%= ce_critere %>">
				<button class="btn btn-primary" >
					Commencer
				</button>
			</a>
			<br />
			Espèces trouvées : <span id="nbre-vues"><%= nbre_vues %></span> / <%= total %>
		</div>
		<hr class="fine"/>
		<%= description %>
	</div>
</div>


<div class="navbar navbar-fixed-bottom">
	<ul class="nav parc-nav row-fluid">
		<li class="active span4"><a href="#parcours/<%= id %>">Parcours</a></li>
		<li class="span3"><a href="#liste/<%= id %>/<%= nom %>/<%= ce_critere %>">Liste</a></li>
		<li class="span2"><a href="#clef/<%= id %>/<%= nom %>/<%= ce_critere %>"><i class="icon-search icon-white"></i></a></li>
		<li class="span2"><a href="#profil/<%= id %>/<%= nom %>"><i class="icon-user icon-white"></i></a></li>
	</ul>
</div>


<script>
var psi = $('#galerie_images a').photoSwipe({ 
	allowUserZoom: true,
	enableMouseWheel: false, 
	enableKeyboard: false,
	preventSlideshow: true,
	captionAndToolbarAutoHideDelay: 0
});
</script>
