<div class="header">
	<a href="#" class="header-button header-button-left header-back-button">
		<button>Retour</button>
	</a>
	<h1>Saisie</h1>
</div>

<div class="tableview tableview-links row-fluid">
	<div>
		<label for="nom">Espèce :
			<span id="nom" name="nom"><%= nom_sci %></span>
		</label>
		
		<label for="date">Date :
			<span id="date" name="date"><%= date %></span>
		</label>
		
		<hr class="fine"/>
		<button id="geolocaliser" class="btn btn-info btn-block" >
			Recalculer ma position
			<i class="icon-search"></i>
		</button>
		<div id="geo-infos" class="text-center text-info infos">Calcul en cours...</div>
		<label for="lat">
			Latitude :
			<span id="lat"></span>
		</label>
		
		<label for="lng">
			Longitude :
			<span id="lng"></span>
		</label>
		
		<label for="location">
			Commune :
			<span id="location"></span>
			<input id="code_insee" type="hidden" name="code_insee" value="0" />
		</label>
		
		<hr class="fine"/>
		<button id="sauver-obs" class="btn btn-success btn-block btn-large" disabled>
			<i class="icon-ok"></i>
			Sauver
		</button>
		
		<input id="num_nom_select" type="hidden" name="num_nom_select" value="<%= id %>" />
	</div>
</div>


<div class="navbar navbar-fixed-bottom">
	<ul class="nav parc-nav">
		<li><a href="#transmission">Mes obs.</a></li>
		<li><a href="#compte">Mon compte</a></li>
		<li><a href="#liste/0/Parcours libre/0" >Liste...</a></li>
	</ul>
</div>
