<div class="header">
    <a href="#" class="header-button header-button-left header-back-button">
        <button>Retour</button>
    </a>
    
    <a href="#parcours" class="header-button header-button-icon header-button-right search" id="view-home-refresh">
        <button>Liste des parcours</button>
    </a>
    
    <h1><i><%= nom_parcours %></i></h1>
</div>

<div class="scroll striped">
    <ul id="myList" class="tableview tableview-links"></ul>
</div>

<div class="modal-footer">
	<div class="navbar navbar-fixed-bottom">
		<ul class="nav parc-nav">
			<li><a href="#parcours/<%= id_parcours %>">Parcours</a></li>
			<li class="active"><a href="#liste/<%= id_parcours %>/<%= nom_parcours %>/<%= id_critere %>">Liste</a></li>
			<li><a href="#clef/<%= id_parcours %>/<%= nom_parcours %>/<%= id_critere %>">Recherche...</a></li>
		</ul>
	</div>
</div>
